* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Inter', sans-serif;
}

#root {
  background-color: #1a1b21;
  width: 317px;
  border-radius: 10px;
  box-shadow: 0px 9px 15px -3px #000000;
}

header > img {
  width: 317px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header > h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1.563rem;
  margin: 0;
  padding-top: 21px;
}

header > h2 {
  font-weight: 300;
  text-align: center;
  font-size: 0.8rem;
  color: #f3bf99;
  margin: 0;
  padding-top: 6px;
  letter-spacing: 0.5px;
}

header > a {
  font-weight: 200;
  display: block;
  text-align: center;
  font-size: 0.64rem;
  color: #f5f5f5;
  margin: 0;
  padding-top: 9px;
  text-decoration: none;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

header > div > a {
  text-decoration: none;
}

.email-button,
.linkedin-button {
  width: 115px;
  height: 34px;
  border-radius: 8px;
  border: none;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin-button {
  background-color: #5093e2;
  color: white;
}

.email-button > img,
.linkedin-button > img {
  width: 16px;
  margin-right: 8px;
}

main {
  width: 247px;
  margin-left: 36px;
}

main > h1 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  margin-top: 18px;
}

.about-title {
  margin-top: 33px;
}

main > p {
  font-weight: 200;
  font-size: 0.64rem;
  line-height: 15px;
  letter-spacing: 0.2px;
  margin: 0;
}
